@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,500;0,800;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
scroll-behavior: smooth;
}
body{
  background-color: lightblue;
    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.container{
    max-width:1170px;
    padding-left: 20px;
    padding-right: 20px;
    margin:auto;
}
section{
    padding: 50px 0;
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    
  }
  /* Global styles for mobile view */
@media (max-width: 767px) {
    .sidebar-container {
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 360px; /* Optional: adjust based on your design */
      flex-direction: row;
      gap: 5px;
    }
  
    .sidebar-container > div {
      width: 75px;
      height: 75px;
      padding: 8px;
    }
  
    .sidebar-container h2 {
      font-size: 1rem;
    }
  
    .sidebar-container p {
      font-size: 0.75rem;
    }
  }
  
  